.body {
  background-color: #e5e5e5;
}
/* Intro Section */
.introWrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 70vh;
  justify-content: center;
}

.introText {
  font-size: 1.5rem;
  font-family: "Sen", sans-serif;
  font-weight: bolder;
  max-width: 400px;
}

.started {
  color: #ff95a9;
}

@media screen and (max-width: 767px) {
  .introWrapper {
    max-height: 40vh;
    padding: 60px;
  }

  .mobileOnly {
    margin: 0 5%;
    width: 90%;
  }

  /* .form {
    padding: 50px;
    color: black;
    margin-bottom: 120px;
  } */
}

@media screen and (min-width: 768px) {
  .introWrapper {
    min-height: 40vh;
  }
}
