@import url("https://fonts.googleapis.com/css2?family=Sen:wght@400;700;800&display=swap");
.app {
  font-family: "Sen", sans-serif;

  min-height: 80vh;
}

.navbar-brand {
  font-family: "Sen", sans-serif;
  font-size: 1.2rem;
  text-transform: lowercase;
  position: relative;
  z-index: 2;
  color: white !important;
  font-weight: bold;

  align-self: flex-start;
}

a {
  text-decoration: none;
}

input {
  border-radius: 0 !important;
  padding: 20px 10px !important;
}

.btn {
  border-radius: none !important;
}

footer {
  position: absolute;
  width: 100%;
  bottom: 0;
  text-align: center;
}
