.main {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-height: 100vh;
}

.wrapper {
  background-image: url("/assets/background.png");
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  min-height: 100vh;
}
