.main div {
  font-size: 1.3rem;

  margin-bottom: 20px;
}

.mobinav {
  margin-top: 10px;
  font-size: 1.3rem;

  position: fixed;
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
  place-items: center;
  bottom: 0;
  width: 100%;
  background-color: white;
}
